* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  font-size: 62.5%;
}

.hero {
  width: 144rem;
  margin: 0 auto;
  position: relative;
  height: 50rem;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  /* background-image: url("./Background.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: 70%; */
  /* background-position: right; */
  /* background-position: top right; */
  /* z-index: 1; */
}
.hero-img1 {
  position: absolute;
  right: 0;
  width: 75%;
}

.hero-img2 {
  position: absolute;
  width: 100%;
  z-index: -1;
}

nav {
  width: 120rem;
  margin: 0 auto;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  /* z-index: 999999; */
}

.logo {
  font-size: 3rem;
}

.nav ul {
  display: flex;
  list-style: none;
  /* gap: 3rem; */
  /* padding: 1.5rem 3rem; */
  border-radius: 5rem;
  background-color: #ffffff20;
  background-color: #ffffff20;
  z-index: 1;
}

.nav ul li {
  padding: 1.5rem 2.3rem;
  color: #fff;
  z-index: 1;
  font-size: 1.8rem;
}

.nav ul li:hover {
  background-color: #ffffff50;
  border-radius: 5rem;
}
.nav {
  display: flex;
  gap: 5rem;
}
.nav a {
  z-index: 1;
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  background-color: #fff;
  color: #000;
}

.heroContent {
  width: 120rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
}
.hc1 {
  width: 50%;
  height: 120%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 1;
  justify-content: flex-end;
}
.hc2 {
  width: 50%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  gap: 2rem;
}
.hc1 h1 {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  line-height: 1.1;
  font-weight: 800;
}

.hc1 p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #797979;
}
a {
  text-decoration: none;
}

.hcbtn {
  /* margin-top: 2rem; */
  display: flex;
  gap: 2rem;
}

.signUp {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5236ff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}
.signUp:hover {
  background-color: #735eff;
}
.logIn {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: #5236ff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  background-color: #efecff;
  border-radius: 5rem;
}

.logIn:hover {
  background-color: #e8e4ff;
}
.hc2 input {
  width: 40rem;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  background-color: #ffffff30;
  display: flex;
  font-size: 1.8rem;
  outline: none;
  align-items: center;
  color: #fff;
  border: none;
}

.hc2 input::placeholder {
  color: #fff;
  font-size: 1.8rem;
}

input:focus {
  outline: 1px solid #fff;
}
.chittabtn {
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  background-color: #fff;
  color: #000;
}

.hcbt {
  width: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}
.chittabtn:hover {
  background-color: #efecff;
}
