* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  font-size: 62.5%;
}

.hero {
  width: 144rem;
  margin: 0 auto;
  position: relative;
  height: 50rem;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  /* background-image: url("./Background.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: 70%; */
  /* background-position: right; */
  /* background-position: top right; */
  /* z-index: 1; */
}
.hero-img1 {
  position: absolute;
  right: 0;
  width: 75%;
}

.hero-img2 {
  position: absolute;
  width: 100%;
  z-index: -1;
}

nav {
  width: 120rem;
  margin: 0 auto;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  /* z-index: 999999; */
}

.logo {
  font-size: 3rem;
}

.nav ul {
  display: flex;
  list-style: none;
  /* gap: 3rem; */
  /* padding: 1.5rem 3rem; */
  border-radius: 5rem;
  background-color: #ffffff20;
  background-color: #ffffff20;
  z-index: 1;
}

.nav ul li {
  padding: 1.5rem 2.3rem;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  font-size: 1.8rem;
}

.nav ul li:hover {
  background-color: #ffffff50;
  border-radius: 5rem;
}
.nav {
  display: flex;
  gap: 5rem;
}
.nav a {
  z-index: 1;
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  background-color: #fff;
  cursor: pointer;
  color: #000;
}
.nav a:hover {
  background-color: #e8e4ff;
}

.heroContent {
  width: 120rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
}
.hc1 {
  width: 50%;
  height: 120%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 1;
  justify-content: flex-end;
}
.hc2 {
  width: 50%;
  height: 120%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 10rem; */
  gap: 2rem;
}
.hc1 h1 {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  line-height: 1.1;
  font-weight: 800;
}

.hc1 p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #797979;
}
a {
  text-decoration: none;
}

.hcbtn {
  /* margin-top: 2rem; */
  display: flex;
  gap: 2rem;
}

.signUp {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5236ff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}
.signUp:hover {
  background-color: #735eff;
}
.logIn {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: #5236ff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  background-color: #efecff;
  border-radius: 5rem;
}

.logIn:hover {
  background-color: #e8e4ff;
}
.hc2 input {
  width: 40rem;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  background-color: #ffffff30;
  display: flex;
  font-size: 1.8rem;
  outline: none;
  align-items: center;
  color: #fff;
  border: none;
}

.hc2 input::placeholder {
  color: #fff;
  font-size: 1.8rem;
}

input:focus {
  outline: 1px solid #fff;
}
.chittabtn {
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  background-color: #fff;
  color: #000;
}

.hcbt {
  width: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}
.chittabtn:hover {
  background-color: #efecff;
}
.services {
  width: 120rem;
  margin: 30rem auto;
}
.services h1 {
  color: #5236ff;
  font-size: 4.2rem;
  text-align: center;
  z-index: 2;
}
.services h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}
.serviceBox {
  width: 40rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 2.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.serviceBox:hover {
  transform: translateY(-2rem);
  transition: all 0.2s ease-in-out;
}
.serviceImg {
  border-radius: 2.5rem;
  width: 100%;
  height: 20rem;
  background-image: url("Photo.png");
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  background-size: cover;
}
.serviceBox h1 {
  margin-top: 3rem;
  color: #242331;
  font-size: 2rem;
}
.serviceBox p {
  margin-top: 2rem;
  color: #797979;
  font-size: 1.4rem;
  line-height: 1.6;
}
.serviceImg .chittabtn {
  width: 20rem;
  font-size: 1.6rem;
  padding: 1rem;
}
.serviceCard {
  margin-top: 5rem;
  display: flex;
  gap: 4rem;
}
.about {
  width: 100%;
  /* height: 50rem; */
  background-color: #5236ff;
  background-image: url("Background\ \(2\).png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem;
}
.aboutContent {
  width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.aboutContent h1 {
  color: #fff;

  padding: 1.5rem 2.3rem;
  background-color: #ffffff20;
  border-radius: 5rem;
  font-size: 1.8rem;
  width: max-content;
  /* font-size: 4rem; */
  text-align: center;
}
.aboutContent h2 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
}
.aboutContent span {
  margin-top: -5rem;
  font-family: cursive;
  font-size: 10rem;
  margin: 0;
  padding: 0;
  color: #fff;
}
.row {
  margin-top: -7rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.aboutContent p {
  width: 60rem;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}
button {
  border: none;
}
.rbtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  font-size: 5rem;
  padding: 1rem;
  background-color: #ffffff20;
  color: #fff;
  border-radius: 50%;
}
.aboutContent img {
  margin-top: 2rem;
  width: 10rem;
  border-radius: 50%;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user h1 {
  font-size: 2.4rem;
  color: #fff;
  padding: 0;
  background-color: transparent;
  margin-top: 1rem;
}
.user p {
  font-size: 1.8rem;
  color: #fff;
  margin-top: 2rem;
}
.stars {
  display: flex;
  gap: 0.3rem;
}
.stars ion-icon {
  font-size: 2.5rem;
  color: gold;
}

.start {
  width: 120rem;
  height: 50rem;
  margin: 10rem auto;
  background: url("Background\ \(3\).png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
}

.start h1 {
  font-size: 4rem;
  color: #fff;
}
.start p {
  font-size: 1.8rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.6;
}

.btnss {
  display: flex;
  gap: 2rem;
  color: #5236ff;
}

.footerContent {
  width: 120rem;
  margin: 0 auto;
  padding: 10rem 0;
  display: flex;
  border-top: 2px solid #00000015;
  border-bottom: 2px solid #00000015;
  gap: 5rem;
}
.fr1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footerContent h1 {
  font-size: 3rem;
}
.footerContent p {
  font-size: 1.6rem;
  color: #797979;
  line-height: 1.6;
}
.email {
  display: flex;
  gap: 2rem;
}
.email ion-icon {
  align-self: center;
  color: #5236ff;
  font-size: 2rem;
}
.email div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footerContent a {
  font-size: 1.6rem;
  color: #797979;
}
.fr2 h1 {
  width: 20rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #00000015;
}
.fr2 ul {
  margin-top: 2.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card {
  border-radius: 5rem;
  background-color: #f9f9f9;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card a {
  color: #5236ff;
}
.card h1 {
  line-height: 1.3;
}
.appstore {
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem 2rem;
  width: 20rem;
  background-color: #242331;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
  justify-content: center;
  color: #fff;
}
.playstore {
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem 2rem;
  width: 20rem;
  background-color: transparent;
  border: 1px solid #00000015;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
  justify-content: center;
  /* color: #fff; */
}
/* a:visited {
  color: #fff;
} */
.appstore ion-icon {
  color: #fff;
  font-size: 1.8rem;
}
.appstore span {
  color: #fff;
  font-size: 1.6rem;
}
.playstore ion-icon {
  color: #242331;
  font-size: 1.8rem;
}
.playstore span {
  color: #242331;
  font-size: 1.6rem;
}

.apps {
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
}

.copyright {
  width: 120rem;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
}
.copyright p {
  font-size: 1.8rem;
  color: #797979;
}
.socials {
  display: flex;
  gap: 1.5rem;
}
.socials ion-icon {
  font-size: 2rem;
  color: #797979;
}
.appstore:hover {
  background-color: #24233195;
}
.playstore:hover {
  background-color: #eeeeeef9;
}
.footerContent a:hover {
  color: #444;
}
.rbtn:hover {
  background-color: #00000025;
}
/* @media only screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
} */

@media screen and (max-width: 768px) {
  * {
    font-size: 2vw;
    /* overflow-x: hidden; */
  }
  html,
  body {
    /* width: 50vw; */
    overflow-x: hidden;
  }
  .hero {
    width: 100vw;
    margin: 0 auto;
    position: relative;
    /* height: 50rem; */
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    /* background-image: url("./Background.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: 70%; */
    /* background-position: right; */
    /* background-position: top right; */
    /* z-index: 1; */
  }
  .hero-img1 {
    position: absolute;
    right: 0;
    width: 100vw;
    z-index: -1;
  }

  .hero-img2 {
    display: none;
  }

  nav {
    /* width: 120rem; */
    width: 100vw;
    /* margin: 0 auto; */
    padding: 4rem;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* z-index: 999999; */
  }

  .logo {
    font-size: 3rem;
    color: #fff;
  }

  .nav ul {
    display: none;
  }

  .nav {
    display: flex;
    gap: 5rem;
  }
  .nav a {
    display: none;
    z-index: 1;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    background-color: #fff;
    cursor: pointer;
    color: #000;
  }
  .nav a:hover {
    background-color: #e8e4ff;
  }

  .heroContent {
    /* width: 120rem; */
    width: 100vw;
    margin: 0 auto;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
  }
  .hc1 {
    width: 100vw;
    /* padding: 0 5rem; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* gap: 5rem; */
    z-index: 1;
    align-items: center;
    padding: 1rem;
    justify-content: flex-end;
  }
  .hc2 {
    width: 100vw;
    /* height: 100%; */
    padding-top: 10rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 10rem; */
    /* gap: 2rem; */
  }
  .hc1 h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    line-height: 1.1;
    margin: 3rem 0 4rem;
    font-weight: 800;
  }

  .hc1 p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.8;
    color: #797979;
  }
  .hc2 input {
    margin-top: 4rem;
    background-color: #e8e4ff;
    margin-bottom: 2rem;
    color: #5236ff;
  }
  .hc2 input::placeholder {
    color: #5236ff;
  }
  .hcbtn {
    display: flex;
    gap: 4rem;
  }
  .hcbt .chittabtn {
    border: 1px solid #5236ff;
    color: #5236ff;
  }
  .services {
    width: 100vw;
    margin: 50rem auto;
    margin-bottom: 10rem;
  }
  .services h1 {
    color: #5236ff;
    font-size: 4.2rem;
    text-align: center;
    z-index: 2;
  }
  .services h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
  }
  .serviceBox {
    margin-top: 3rem;
    width: 40rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 2.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }
  .serviceBox:hover {
    transform: translateY(-2rem);
    transition: all 0.2s ease-in-out;
  }
  .serviceImg {
    border-radius: 2.5rem;
    width: 100%;
    height: 20rem;
    background-image: url("Photo.png");
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    background-size: cover;
  }
  .serviceBox h1 {
    margin-top: 3rem;
    color: #242331;
    font-size: 2rem;
  }
  .serviceBox p {
    margin-top: 2rem;
    color: #797979;
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .serviceImg .chittabtn {
    width: 20rem;
    font-size: 1.6rem;
    padding: 1rem;
  }
  .serviceCard {
    /* margin-top: 5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 4rem; */
  }
  .about {
    width: 100vw;
    /* height: 50rem; */
    background-color: #5236ff;
    background-image: url("Background\ \(2\).png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .aboutContent {
    /* padding: 10rem; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .aboutContent h1 {
    color: #fff;

    padding: 1.5rem 2.3rem;
    background-color: #ffffff20;
    border-radius: 5rem;
    font-size: 1.8rem;
    width: max-content;
    /* font-size: 4rem; */
    text-align: center;
  }
  .aboutContent h2 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
  }
  .aboutContent span {
    margin-top: -5rem;
    font-family: cursive;
    font-size: 10rem;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  .row {
    margin-top: -7rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: 150%;
    margin-bottom: 1rem;
  }
  .aboutContent p {
    width: 60rem;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    color: #fff;
  }
  button {
    border: none;
  }
  .rbtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    font-size: 10rem;
    padding: 1rem;
    background-color: #ffffff20;
    color: #fff;
    border-radius: 50%;
  }
  .rbtn ion-icon {
    font-size: 2rem;
  }
  .aboutContent img {
    margin-top: 2rem;
    width: 10rem;
    border-radius: 50%;
  }
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .user h1 {
    font-size: 2.4rem;
    color: #fff;
    padding: 0;
    background-color: transparent;
    margin-top: 1rem;
  }
  .user p {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 2rem;
  }
  .stars {
    display: flex;
    gap: 0.3rem;
  }
  .stars ion-icon {
    font-size: 2.5rem;
    color: gold;
  }
  .start {
    width: 97vw;
    /* height: 50rem; */
    /* border-top-right-radius: 5rem; */
    /* border-bottom-right-radius: 7rem; */
    /* border-radius: 50px; */
    border-radius: 5rem;
    margin: 10rem auto;
    background: url("Background\ \(3\).png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 3rem; */
    padding: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .start h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 3rem;
  }
  .start p {
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 4rem;
  }

  .btnss {
    display: flex;
    gap: 2rem;
    color: #5236ff;
  }
  .btnss a {
    margin-right: 3rem;
  }

  .footerContent {
    position: relative;
    width: 100vw;
    height: 95rem;
    margin: 0 auto;
    padding: 10rem 0;
    display: flex;
    border-top: 2px solid #00000015;
    border-bottom: 2px solid #00000015;
    gap: 2rem;
  }
  .fr1 {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    /* gap: 3rem; */
  }
  .footerContent h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .footerContent p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #797979;
    line-height: 1.6;
  }
  .email {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .email ion-icon {
    margin-right: 2rem;
    align-self: center;
    color: #5236ff;
    font-size: 2rem;
  }
  .email div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .footerContent a {
    font-size: 1.6rem;
    color: #797979;
  }
  .fr2 {
    max-width: 10rem;
  }
  .fr2 h1 {
    /* width: 20rem; */
    width: 0 !important;
    padding-bottom: 2rem;
    border-bottom: 2px solid #00000015;
    margin-bottom: 3rem;
  }
  .fr2 ul {
    margin-top: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
  }

  .fr2 a {
    margin-bottom: 1.5rem;
  }
  .card {
    position: absolute;
    bottom: 1rem;
    /* top: -1rem; */
    margin: 1rem;
    border-radius: 5rem;
    background-color: #f9f9f9;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
  }
  .card a {
    color: #5236ff;
    margin-bottom: 2rem;
  }
  .card h1 {
    line-height: 1.3;
    margin-bottom: 2rem;
  }
  .appstore {
    cursor: pointer;
    border-radius: 5rem;
    padding: 1rem 2rem;
    width: 20rem;
    background-color: #242331;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.8rem;
    justify-content: center;
    margin-right: 1rem;
    color: #fff;
  }
  .playstore {
    cursor: pointer;
    border-radius: 5rem;
    padding: 1rem 2rem;
    width: 20rem;
    background-color: transparent;
    border: 1px solid #00000015;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.8rem;
    justify-content: center;
    /* color: #fff; */
  }
  /* a:visited {
  color: #fff;
} */
  .appstore ion-icon {
    color: #fff;
    font-size: 1.8rem;
  }
  .appstore span {
    color: #fff;
    font-size: 1.6rem;
  }
  .playstore ion-icon {
    color: #242331;
    font-size: 1.8rem;
  }
  .playstore span {
    color: #242331;
    font-size: 1.6rem;
  }

  .apps {
    display: flex;
    gap: 2rem;
    padding-bottom: 3rem;
  }

  .copyright {
    width: 100vw;
    margin: 5rem auto;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
  }
  .copyright p {
    font-size: 1.8rem;
    color: #797979;
  }
  .socials {
    display: flex;
    /* gap: 1.5rem; */
  }
  .socials ion-icon {
    margin-left: 2rem;
    font-size: 2rem;
    color: #797979;
  }
  .appstore:hover {
    background-color: #24233195;
  }
  .playstore:hover {
    background-color: #eeeeeef9;
  }
  .footerContent a:hover {
    color: #444;
  }
  .rbtn:hover {
    background-color: #00000025;
  }
}
